html{
  scroll-behavior: smooth;
}
/*.body{
  overflow-x: hidden;
} */
.bg{
  height: 710px;
  width:1518px;
}
.menuicon{
  max-width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 6px;
  margin:6 0px 0 0px;

}

.dropdown button{
  height:80px;
  width:50px;

}


.btn{
  color:white;
  background-color:transparent; /*#AC0185 */
  border:0;
  display: inline-block;

}

.btn:oc
  background-color:transparent ;
}

.btn:hover{
  background-color: transparent;
}

#bgcolor{
  background-color: transparent;
}

.vr{
  color:white;  /*#E0CCCC*/
  font-size: 80px;
  font-weight:bolder;
  font-family:Oxygen, sans-serif;
  position:absolute;
  bottom:50%;
  left:6%;
}

.vrhr{
  color:white;
  height:2px;
  background-color: white;
  width:350px;
  position: absolute;
  top:45%;
  left:16%;
}
.vrcaption{
  color:white;
  font-family:'Aldrich',sans-serif;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  bottom:40%;
  left:11%;
}
.triangle{
	width: 0;
	height: 0;
	border-width: 36.4px 21px 0 21px;
	border-color: #FFFFFF transparent transparent transparent;
	border-style: solid;
  position: absolute;
  top:65%;
  left:26%;
}
.appeal{
  height:720px;
  width:1518px;
  background: rgb(10,6,23);
  background: linear-gradient(90deg, rgba(10,6,23,1) 0%, rgba(7,19,67,1) 52%, rgba(7,19,67,1) 100%);
}
.girl{
  position: relative;
  top:43.5%;
}
.logos{
  height:200px;
  width:200px;
  position: relative;
  top:-6%;
  right:30%;
}
.containerx{
  display:flex;
  color:white;
  text-align: center;
  justify-content: space-between;
}
.containerx div{
  border:1px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  width:100px;
}
.containerx2{
  display:flex;
  color:white;
  text-align: center;
  justify-content: space-between;

}
.cards-img-top {
    width: 100%;
    height: 250px;

}

.cardx{
  background: rgba(7,19,67,1);
  background: linear-gradient(90deg, rgba(10,6,23,1) 0%, rgba(7,19,67,1) 52%, rgba(10,6,23,1) 100%);
  color:white;
  border:1px;
}
.cardmanual1{
  position: relative;
  bottom:50%;
  left:57%;
  height:600px;
}
.cardmanual2{
  position: relative;
  bottom:133%;
  left:79%;
  height:600px;
}
.cardmanual3{
  position: relative;
  bottom:216.5%;
  left:35%;
  height:600px;
}
.shopieservicesintro{
  height:715px;
  max-width: 100%;
}

.shophead{
  color:white;  /*#E0CCCC #0500FF*/
  font-size: 108px;
  font-weight:bolder;
  font-family: 'Playfair Display', serif;
  position:relative;
  bottom:95%;
  text-align:center;
}
.shopbg{
  height: 715px;
  width:1518px;
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
.carousel-control-next{
}
.carouselsx{
  position: relative;
  bottom:90%;
  left:5%;
  width: 1400px;
}
.cardy{
<!-- shop-->
}

.servicesbg{
  background: rgb(10,6,23);
  background: linear-gradient(90deg, rgba(10,6,23,1) 0%, rgba(7,19,67,1) 52%, rgba(7,19,67,1) 100%);
}
.ourserviceshead{
  color:white;  /*#E0CCCC #0500FF*/
  font-size: 96px;
  font-weight:bolder;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  text-align: center;

}
.girlwatchin{
  position: relative;
  top:30%;
  left:80%;
  height:320px;
  width:220px;
}

.card1{
  position: relative;
  bottom:38%;
  left:3%;
}
.card2{
  position: relative;
  bottom:86%;
  left:50%;
}
.card3{
  position: relative;
  bottom:120%;
  left:26.5%;
}
.card-img-top{
  height:200px;
}
.footfallx{
  height:712px;
  width:300px;

}
.elfsight-app-c5332b83-0484-4fde-af74-9056e673d64d{
  position: relative;
  bottom:85%;
  left:1010px;
}
.footfall{
  height:712px;
  width:1518px;
}
.footfallw1{
  font-family: 'Oxygen',sans-serif;
  color:white;
  font-weight: bolder;
  font-size:72px;
  position:absolute;
  top:435%;
  left:7%;
}
.footfallw1hr{
  color:white;
  height:2px;
  background-color: white;
  width:350px;
  position: absolute;
  top:455%;
  left:25%;

}
.contactus{
  margin:0;
  height: 300px;
  background: rgb(10,6,23);
  background: linear-gradient(90deg, rgba(10,6,23,1) 0%, rgba(7,19,67,1) 52%, rgba(7,19,67,1) 100%);
}
.contactus1{
  font-family: sans-serif;
  color:white;
  font-size:64px;
  text-align: center;
  position: relative;
  top:3%;
}
.VRReality1{
  font-family:'Oxygen',sans-serif;
  color:white;
  font-size:48px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top:515%;
  left:11%;
  margin:0;
}
.VRReality2{
  font-family:'Oxygen',sans-serif;
  margin:0;
  color:white;
  font-size:48px;
  font-weight:lighter;
  text-align: left;
  position: absolute;
  top:525%;
  left:3%;
}
.social{
  font-family:'Oxygen',sans-serif;
  color:white;
  font-size:48px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top:515%;
  left:70%;
  margin:0;
}
.social p{
  margin:0;
}
.imgxx{
  height:100px;
  width:100px;
  padding:15px;

}
.reff1{
  position: absolute;
  top:525%;
  left:78%;
}
.reff2{
  position: absolute;
  top:525%;
  left:70%;
}
.reff3{
  position: absolute;
  top:525%;
  left:86%;
}
